Projeto.json
[{"id":"c41db4ef.7d1218","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"45036a74.fe7334","type":"http request","z":"c41db4ef.7d1218","name":"Request JSON Data","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q={{{query}}}&APPID=c9d77d754928ec65725e1b58cb0ae1f5","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":520,"wires":[["418f991.dca9de8"]]},{"id":"8e72a144.39645","type":"change","z":"c41db4ef.7d1218","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[["45036a74.fe7334"]]},{"id":"418f991.dca9de8","type":"function","z":"c41db4ef.7d1218","name":"","func":"p=msg.payload;\nnode.log(typeof p);\nmsg.nome = p.name;\nmsg.pais = p.sys.country;\nmsg.id = p.weather[0].id;\nmsg.descricao = p.weather[0].description;\nmsg.temp = parseInt(p.main.temp - 273.15);\nmsg.feels = parseInt(p.main.feels_like - 273.15);\nmsg.temp_min = parseInt(p.main.temp_min - 273.15);\nmsg.temp_max = parseInt(p.main.temp_max - 273.15);\nmsg.humidade = p.main.humidity;\nmsg.vento_velo = p.wind.speed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":640,"wires":[["e9370c92.15547","1327b208.57426e","60ce3c64.20f134","48f0eeb9.d125a","d19c67e2.867378","d492ab79.98dae8","dd1cadaf.065f2"]]},{"id":"c3350fd.562b2f","type":"ui_dropdown","z":"c41db4ef.7d1218","name":"","label":"Cidade","tooltip":"Cidade","place":"Select option","group":"d2e4820d.5fefa","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Selecione","value":"selecione","type":"str"},{"label":"São Paulo","value":"Sao Paulo","type":"str"},{"label":"Rio de Janeiro","value":"Rio de Janeiro","type":"str"},{"label":"Salvador","value":"Salvador","type":"str"}],"payload":"","topic":"payload","topicType":"msg","x":120,"y":380,"wires":[["7e5b4422.b88b0c"]]},{"id":"e9370c92.15547","type":"ui_gauge","z":"c41db4ef.7d1218","name":"Temperatura","group":"29fbeae2.d59e96","order":1,"width":"9","height":"5","gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.temp}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":560,"wires":[]},{"id":"1327b208.57426e","type":"ui_gauge","z":"c41db4ef.7d1218","name":"Sensação térmica","group":"29fbeae2.d59e96","order":2,"width":"9","height":"5","gtype":"gage","title":"Sensação térmica","label":"ºC","format":"{{msg.feels}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":700,"wires":[]},{"id":"60ce3c64.20f134","type":"ui_gauge","z":"c41db4ef.7d1218","name":"Temperatura mínima","group":"a674242.9ab9ed8","order":1,"width":"9","height":"5","gtype":"gage","title":"Temperatura mínima","label":"ºC","format":"{{msg.temp_min}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":780,"wires":[]},{"id":"48f0eeb9.d125a","type":"ui_gauge","z":"c41db4ef.7d1218","name":"Temperatura máxima","group":"a674242.9ab9ed8","order":2,"width":"9","height":"5","gtype":"gage","title":"Temperatura máxima","label":"ºC","format":"{{msg.temp_max}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":860,"wires":[]},{"id":"d19c67e2.867378","type":"ui_gauge","z":"c41db4ef.7d1218","name":"Humidade","group":"a73165d0.a626f8","order":1,"width":0,"height":0,"gtype":"wave","title":"Humidade","label":"%","format":"{{msg.humidade}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":940,"wires":[]},{"id":"7e5b4422.b88b0c","type":"switch","z":"c41db4ef.7d1218","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"selecione","vt":"msg"},{"t":"neq","v":"selecione","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":300,"wires":[[],["8e72a144.39645"]]},{"id":"dd1cadaf.065f2","type":"ui_gauge","z":"c41db4ef.7d1218","name":"Temperatura","group":"65100822.b46928","order":1,"width":"9","height":"5","gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.temp}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":620,"wires":[]},{"id":"d492ab79.98dae8","type":"ui_gauge","z":"c41db4ef.7d1218","name":"Humidade","group":"39451b44.bbb794","order":1,"width":0,"height":0,"gtype":"wave","title":"Humidade","label":"%","format":"{{msg.humidade}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":1000,"wires":[]},{"id":"d2e4820d.5fefa","type":"ui_group","name":"Informações da Região","tab":"9475820d.aa54","order":1,"disp":true,"width":"6","collapse":false},{"id":"29fbeae2.d59e96","type":"ui_group","name":"Temperatura 1","tab":"3b89cd05.99fbb2","order":2,"disp":true,"width":"12","collapse":false},{"id":"a674242.9ab9ed8","type":"ui_group","name":"Temperatura 2","tab":"3b89cd05.99fbb2","order":3,"disp":true,"width":"12","collapse":false},{"id":"a73165d0.a626f8","type":"ui_group","name":"Humidade","tab":"3b89cd05.99fbb2","order":4,"disp":true,"width":"6","collapse":false},{"id":"65100822.b46928","type":"ui_group","name":"Temperatura e Humidade","tab":"9475820d.aa54","order":2,"disp":true,"width":"12","collapse":false},{"id":"39451b44.bbb794","type":"ui_group","name":"Humidade","tab":"9475820d.aa54","order":3,"disp":true,"width":"6","collapse":false},{"id":"9475820d.aa54","type":"ui_tab","name":"Pesquisa","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3b89cd05.99fbb2","type":"ui_tab","name":"Temperatura e Humidade","icon":"wi-wu-cloudy","order":2,"disabled":false,"hidden":false}]